@charset "UTF-8";
img {
  max-width: 100%;
  vertical-align: bottom;
  width: 100%;
}

.main {
  padding: 30px 0;
  display: block;
}

.ttl {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

.itemBox_wrap {
  display: grid;
  gap: 30px 10px;
  grid-template-columns: 1fr 1fr;
}

.itemBox {
  border: solid 1px #ccc;
  max-width: 500px;
}

.itemBox_textArea {
  padding: 10px;
  color: #000;
}

.itemBox_ttl {
  font-weight: bold;
  margin: 0;
  font-size: 16px;
}

.itemBox_text {
  margin: 5px 0 0;
  font-size: 14px;
}

.itemBox_link {
  text-decoration: none;
}

.itemBox_brand {
  display: block;
  font-size: 12px;
  color: rgb(122, 122, 122);
  margin-bottom: 3px;
}